@media (max-width: 1200px){
    .sobre{
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre {
        width: 100%;
        align-items: center;

        margin-bottom: 15%;
    }

    main .sobre .text, .techs {
        text-align: center;
    }

    main .sobre .text p, h1{
        width: 100%;
        font-size: 0.9em;
    }
    main .techs .cards-container, .sobre .text p{
        margin-top: 32px;
    }
}
@media (max-width: 700px){
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }
    header h1{
        font-size: 2em;
    }
    header nav{
        margin-top: 24px;
    }
    header nav a {
        font-size: 1em; 
    }
    main .techs .sobre .card {
        width: 60px;
        height: 60px;
    }
    main .sobre .text h2, .card .techs h2{
        font-size: 1.8em;
    }
    main figure img{
        width: 250px;
        height: 250px ;

    }
}